<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ZAG</title>
	<link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet"/>
	<link href="static/style.css" rel="stylesheet"/>
	<meta property="og:title" content="ZAG" />
	<meta property="og:description" content="Pomôž Felixovi Baumgartnerovi s jeho zoskokom zo stratosféry 14. októbra 2012. Felix potrebuje vedieť, akétiažové zrýchlenie g na neho bude pôsobiť, keď vyskočí." />
	<meta property="og:url" content="https://zag.vogsphere.sk" />
	<meta property="og:image" content="https://zag.vogsphere.sk/static/intro.jpeg" />
</head>
<body>

<!-- Dialog -->
<dialog class="nes-dialog" id="dialog-default">
	<form method="dialog">
		{% if assignment == '1' %}
			<p>
				Felix vie, že najľahší vzorec na výpočet hodnoty g na zemskom povrchu je <br/> g = g<span class="sub">e</span>
				*(1+β*sin<span class="sup">2</span>φ). Felix si navyše pamätá, že g<span class="sub">e</span> je
				tiažové zrýchlenie na rovníku rovné 9.78049. <br /> β je konštanta s hodnotou 0.0052884 a φ je zemepisná šírka.
				Škoda, že si Felix zabudol do vesmíru zobrať kalkulačku…
			</p>
			<p>
				Keďže tiažové zrýchlenie na Zemi sa mení iba v závislosti od zemepisnej šírky, zemepisnú dĺžku vôbec nebudeš na
				výpočet potrebovať.
			</p>
			<p>
				Výsledky zadávané do odpoveďového okienka zaokrúhli na 5 desatinných miest (oddelovač desatinných miest je
				bodka).
			</p>
		{% elif assignment == '2' %}
			<p>
				Zmena hodnoty tiažového zrýchlenia g so zmenou nadmorskej výšky sa dá ľahko spočítať podľa tohto vzorca:
				Δg = -0.000003086*h [m.s-2].
			</p>
		{% endif %}
		<menu class="dialog-menu" style="text-align: center; padding: 0;">
			<button class="nes-btn is-primary">OK</button>
		</menu>
	</form>
</dialog>


<div id="page">
	<div class="container">
		<main class="main-content">
			<section class="nes-container with-title">
				<h3 class="title">
					{% if stage == 'success' %}
						Hotovo
					{% elif assignment == '1' %}
						Úloha 1
					{% elif assignment == '2' %}
						Úloha 2
					{% endif %}
				</h3>
			{% if stage == 'intro' %}
				<p style="text-align: justify;">
					Pomôž Felixovi Baumgartnerovi s jeho zoskokom zo stratosféry 14. októbra 2012. Felix potrebuje vedieť, aké
					tiažové zrýchlenie g na neho bude pôsobiť, keď vyskočí.
				</p>
			{% elif stage in ['assignment', 'fail'] %}
				{% if assignment == '1' %}
					<p style="text-align: justify;">
						Geografické súradnice zoskokového bodu sú 104°32’21“
						zemepisnej dĺžky, 33°18’39“ zemepisnej šírky a bude skákať z výšky <br/> 38 969.4 m.n.m.
					</p>
				{% elif assignment == '2' %}
					<p style="text-align: justify;">
						Už si síce vypočítal nejaké tiažové zrýchlenie, ale je platné len na povrchu Zeme (vlastne vo výške 0
						metrov). To je Felixovi na nič, keďže skáče z takmer štyridsiatich kilometrov! Aké tiažové zrýchlenie bude
						na neho pôsobiť vo výške 38 969.4m?
					</p>
				{% endif %}
			{% elif stage == 'success' %}
				<p style="text-align: justify;">
					{{ session['name'] }}, teraz je čas urobiť screenshot!
				</p>
			{% endif %}

				<img id="gif" src="" style="width: 100%"/>
				{% if stage == 'intro' %}
					<script>document.getElementById('gif').src = "static/intro.jpeg?a=" + Math.random()</script>
				{% elif stage == 'assignment' %}
					{% if assignment == '1' %}
						<script>document.getElementById('gif').src = "static/assignment.gif?a=" + Math.random()</script>
					{% else %}
						<script>document.getElementById('gif').src = "static/assignment2-loop.gif?a=" + Math.random()</script>
					{% endif %}
				{% elif stage == 'fail' %}
					<script>document.getElementById('gif').src = "static/fail.png?a=" + Math.random()</script>
				{% elif stage == 'success' %}
					<script>document.getElementById('gif').src = "static/success.png?a=" + Math.random()</script>
				{% endif %}

				<form method="post">
				<div class="nes-field" style="margin: 20px 0;">
						{% if stage == 'intro' %}
							<input type="text" id="answer" name="name" class="nes-input" placeholder="Tvoje meno">
						{% elif stage in ['assignment', 'fail'] %}
							<input type="text" id="answer" name="answer" class="nes-input" placeholder="Tvoja odpoveď">
						{% endif %}
				</div>
				<div style="text-align: center;">
					{% if stage == 'intro' %}
						<button type="submit" class="nes-btn is-primary">Pokračovať</button>
					{% elif stage in ['assignment', 'fail'] %}
						<button type="button" class="nes-btn is-success" onclick="document.getElementById('dialog-default').showModal();">Nápoveda</button>
						<button type="submit" class="nes-btn is-primary">Odpovedať</button>
					{% endif %}
				</div>
				</form>
			</section>
		</main>
	</div>
</div>
</body>
</html>
