<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ZAG</title>
	<link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet"/>
	<link href="static/style.css" rel="stylesheet"/>
</head>
<body>
<div id="page">
	<div class="container">
		<main class="main-content">
			<section class="nes-container with-title">
				<h3 class="title">Zadanie 1</h3>
				<p style="font-size: small; text-align: justify;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac orci facilisis purus rhoncus consequat.
					Vestibulum eros lacus, volutpat ut enim ut, euismod volutpat est. Suspendisse eu nisl vitae nibh vulputate?
				</p>

				<img id="gif" src="" style="width: 100%"/>
				<script>document.getElementById('gif').src = "static/ezgif-1-0a4527b4db.gif?a=" + Math.random()</script>

				<div class="nes-field" style="margin: 20px 0;">
					<input type="text" id="answer" name="answer" class="nes-input" placeholder="Your answer">
				</div>
				<div style="text-align: center;">
					<button type="button" class="nes-btn is-primary">Submit</button>
				</div>
			</section>
		</main>
	</div>
</div>
</body>
</html>